agate==1.9.1
annotated-types==0.7.0
anyio==4.11.0
attrs==25.4.0
babel==2.17.0
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
daff==1.4.2
dbt-adapters==1.17.2
dbt-autofix==0.13.1
dbt-common==1.32.0
dbt-core==1.10.13
dbt-duckdb==1.9.6
dbt-extractor==0.6.0
dbt-protos==1.0.382
dbt-semantic-interfaces==0.9.0
deepdiff==8.6.1
duckdb==1.4.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib-metadata==8.7.0
isodate==0.6.1
jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
leather==0.4.0
markdown-it-py==4.0.0
markupsafe==3.0.3
mashumaro==3.14
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.1.2
networkx==3.5
orderly-set==5.5.0
packaging==25.0
parsedatetime==2.6
pathspec==0.12.1
protobuf==6.32.1
pydantic==2.12.0
pydantic-core==2.41.1
pygments==2.19.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
pyyaml==6.0.3
referencing==0.36.2
requests==2.32.5
rich==14.1.0
rpds-py==0.27.1
ruamel-yaml==0.18.14
ruamel-yaml-clib==0.2.14
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowplow-tracker==1.1.0
sqlparse==0.5.3
text-unidecode==1.3
typer==0.19.2
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
yamllint==1.37.1
zipp==3.23.0
